html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
}

.heading {
    position: relative;
    top: 15px;
    left: 10px;
}
.subhead {
    position: relative;
    top: 10px;
    left: 10px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.button {
  display: inline-block;
  color: white;
  padding: 0.5em 1.0em;
  border-radius: 4px;
  /* background: #ffffff; */
  background: none;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  /* border: 1px solid #000000; */
  border: 1px solid #fff;
  margin: 10px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}

.button:hover {
  background-color: rgba(255,255,255,0.1);
}

.button:active,
.button.is-checked {
  /* background-color: rgba(0,0,0,0.1); */
  background-color: #fff;
  color: black;
  outline: none;
}

.button-group {
  margin: 20px 0;
  text-align: center;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

#grid-container {
    margin-top: 35px;
}

.grid article {
  /* background-color: #222222; */
  border: 0.5px solid white;
  border-radius: 5px;
  display: block;
  float: left;
  margin: 1%;
  width: 23%;
  padding: 1px;
}

@media (max-width: 1024px) {
  .grid article {
    width: 31.3%;
  }
}

@media (max-width: 767px) {
  .grid article {
    width: 48%;
  }
}

@media (max-width: 479px) {
  .grid article {
    margin: 2% 0;
    width: 100%;
  }
}