* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10000;
  display: block;
}

/* Navigation */
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  background: #161616;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

*, *:after, *:before {
  box-sizing: inherit;
}

.nav a {
  color: #333;
  text-decoration: none;
}


.nav h1 {
  width: 100%;
  text-align: center;
  padding: 40px 0;
}

.nav .close {
  /* border: 2px solid white; */
  position: fixed;
  height:50px;
  width:50px;
  display:none;
  z-index: 10000;
}
.nav .open {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  z-index: 10000;
}
.nav .open:hover {
  opacity: 0.8;
}
.nav .open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #fff;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.nav .open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}
.nav .open span:nth-child(2) {
  margin-top: 25px;
}
.nav .open span:nth-child(3) {
  margin-top: 40px;
}

.nav .sub-menu {
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(38, 84, 133, 0.54);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}
.nav .sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.nav .sub-menu li:first-child {
  margin-top: 200px; /* 180 */
}
.nav .sub-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
}
.nav .sub-menu li:nth-child(2) {
  -webkit-transition-delay: 0.10s;
}
.nav .sub-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
}
.nav .sub-menu li:nth-child(4) {
  -webkit-transition-delay: 0.20s;
}
.nav .sub-menu li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
}
.nav .sub-menu li a {
  color: #fff;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}

.nav .oppenned .sub-menu {
  opacity: 1;
  height: 500px;
  width: 400px;
}
.nav .oppenned span:nth-child(2) {
  overflow: visible;
}
.nav .oppenned span:nth-child(1), .oppenned span:nth-child(3) {
  z-index: 100;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav .oppenned span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(12px) translateX(12px);
          transform: rotate(45deg) translateY(12px) translateX(12px);
}
.nav .oppenned span:nth-child(2) {
  height: 500px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(38, 84, 133, 0.54);
}
.nav .oppenned span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-10px) translateX(10px);
          transform: rotate(-45deg) translateY(-10px) translateX(10px);
}
.nav .oppenned li {
  margin-right: 168px;
}

.nav .button {
  display: block;
  float: left;
  clear: both;
  padding: 20px 40px;
  background: #fff;
  border-radius: 3px;
  border: 2px solid #10a1ea;
  overflow: hidden;
  position: relative;
}
.nav .button:after {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  content: "";
  position: absolute;
  height: 200px;
  width: 400px;
  -webkit-transform: rotate(45deg) translateX(-540px) translateY(-100px);
          transform: rotate(45deg) translateX(-540px) translateY(-100px);
  background: #10a1ea;
  z-index: 1;
}
.nav .button:before {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  text-align: center;
  padding: 20px 40px;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}
.nav .button:hover {
  text-decoration: none;
}
.nav .button:hover:after {
  -webkit-transform: translateX(-300px) translateY(-100px);
          transform: translateX(-300px) translateY(-100px);
}
.nav .button:hover:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .container {
  display: -webkit-box;
  display: flex;
  max-width: 80%;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.nav .card {
  position: relative;
  z-index: 10;
  width: 280px;
  border-radius: 4px;
  padding-bottom: 40px;
  background: #131e32;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.nav .card figcaption {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: #fff;
}
.nav .card img {
  max-width: 100%;
  border: 1px solid #222;
  -webkit-transition: .4s;
  transition: .4s;
}
.nav .card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* / Navigation */